<a href="https://colab.research.google.com/github/McahineLearning/Python_Basic_Assignment/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1.What are the two values of the Boolean data type? How do you write them?

->>True, False


2. What are the three different types of Boolean operators?

-->>AND, OR, NOT


3. Make a list of each Boolean operator's truth tables 
   (i.e. every possible combination of Boolean values for the operator and what it evaluate ).


4. What are the values of the following expressions?
(5 > 4) and (3 == 5)
not (5 > 4)
(5 > 4) or (3 == 5)
not ((5 > 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)


->> False
False
True
False
False
True

5. What are the six comparison operators?

->> > , < , >= , <= , === , and !==

6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

->> equal to is used when we want to store something in a variable whereas the assignment operator is used when we want to put some thing inside a condition


7. Identify the three blocks in this code:
spam = 0
if spam == 10: ---->> block 1
print('eggs')
if spam > 5: ---->>> block 2
print('bacon')
else: ------>>>> block 3
print('ham')
print('spam')
print('spam')




8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.
--->>

spam = int(input('Enter Value :'))

if spam == 1:
  print('Hello')
elif spam == 2:
  print('Howdy')
else:
  print('Greetings')

9.If your programme is stuck in an endless loop, what keys you’ll press?

--->>> stop kernel(ctrl + m)

10. How can you tell the difference between break and continue?

-->> Break statements exist in Python to exit or “break” a for or while conditional loop.

    The continue statement is used to skip code within a loop for certain iterations of the loop. 
    After the code is skipped, the loop continues where it left off. 


11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

-->>they all are the same in this case. But in the thrid CASE a step size is given whereas in the secoond case, a starting point is given

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

->>> for i in range(10):
          print(i)

 n =10
 i=0
 while i<n:
      i=i+1
      print (i)



13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

-->> from mobile import bacon

#3. Make a list of each Boolean operator's truth tables 
   (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

<table style="width:100%">
  <tr>
    <th>A</th>
    <th>B</th>
    <th>A AND B</th>
    <th>A OR B</th>
    <th>A NOT A</th>
    <th> B NOT B</th>
  </tr>
  <tr>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr>
    <td>0</td>
    <td>1</td>
    <td>0</td>
    <td>1</td>
    <td>1</td>
    <td>0</td>

  </tr>
   <tr>
    <td>1</td>
    <td>0</td>
    <td>0</td>
    <td>1</td>
    <td>0</td>
    <td>1</td>
  </tr>
   <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>0</td>
    <td>0</td>
  </tr>
</table>